<h2 class="page-header">Create your Application</h2>
<form method="post" action="/registerApp">
  <div class="form-group">
    <label>Enter your application's title</label>
    <input type="text" class="form-control" name="appname" placeholder="Application Title" value="My Application">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>